body {
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #777;
    background:#dddddd;
    line-height: 220%;
    margin:0px;
    
  }
.white-waves{
  background-image: url("white-waves.png");
}

.responsive{
        width: 33%;
        height: auto;
        padding-right: 90px;
        padding-left: 0px; 
      }

  
    .navbar{
      box-sizing: border-box;
      top: 0px;
      left:1000px;
      width: 100px;
      height:50px;
      margin-top:25px;
      margin-bottom: 0px;
      font-size: 18px;
      font-family:'merriweather', serif;
      width:100%;
      line-height: 70px;
      border-right: 1px solid lightgray;
     /*  border-bottom: 10px solid #ffffff; */
      color:#666;
      float: right;
      padding: 10px;
      display:block;
      list-style-type: none;
      overflow: auto;
     
    }

    #h1 {
    padding: 20px;
    padding-left: 20px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 28px;
    font-family:'merriweather', serif;
    color: white;
    text-align: left;
    background: #4aaaa5;
    width:400px;
    height: 70px;
    left:450px;
    position: relative;
    font-weight: 700px;
    }
    
    li a{
      text-decoration:none;
      color: gray;
    }
  
   header {
    background: #ffffff;

  }

  .container1{
      height:70px;
      padding-top:0px;
  }
   
  
  #second-container{
    color:#4aaaa5;
    border-bottom-color: gray;
    backface-visibility: #ffffff;
    font-size:28px;
    font-family: 'merriweather', serif;
    text-align: top;
    border-bottom: 1px solid lightgrey;
    font-weight: 700px;
  }
  #section{
    padding-left: 200px;
    padding: 20px;
    margin: 30px auto;
    margin-bottom: 20px;
    font-size: 18px;
    color: #777777;
    text-align: center,justify;
    background: #ffffff;
    line-break:10px;
    width:1250px;
    height:1200px;
  }
  footer{
    width:100% auto;
    margin:0px;
    padding:0px;
    background: #777777;
    border-top:10px solid #44aaaa;
    text-align: center;
    color:black; }

    #profile-pic
    { 
      width:290px;
      height:440px; 
      margin-left: 50px;
      margin-right:50px;
      margin-top:10px;
      margin-bottom:40px;
    }

   /*  .container {
      position: relative;
      text-align: center;
      color: white;
      width:45%;
      float: left; */
    
    
    .centered {
      background:#4aaaa5;
      position: absolute;
      top: 77%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:58%;
      padding:10px 1px;
      color:#ffffff;
    }
   .portfolio_pics{
     height:200px;
     width:250px;
   }
   #Portfolio{
     position: absolute;
     width:960px;
     height:960px;
     top: 100px;
     left: 230px;
     border: 1px solid #cccccc;
     background-color: #ffffff;
     overflow:auto;
     clear:both;
   }